@font-face {
    font-family: "Playwrite";
    src: url("../fonts/Playwrite_NG_Modern/PlaywriteNGModern-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto";
    src: url("../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

::-webkit-scrollbar {
    display: block;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite", sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: radial-gradient(circle, rgba(247, 248, 253, 0.493) 0%, rgba(193, 209, 243, 0.541) 100%); */
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    background-color: transparent;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playwrite', sans-serif;
}

a,
button,
label,
input,
select,
textarea {
    font-family: 'Noto', sans-serif;
}

strong {
    font-family: "Noto", sans-serif;
}

.primary {
    background-color: rgba(48, 45, 230, 0.9);
    color: white;
}

.primary:hover {
    background-color: #302de6;
}

.danger {
    background-color: rgb(182, 11, 11, 0.9);
    color: white;
}

.danger:hover {
    background-color: #b60b0b;
}

.success {
    background-color: #0b9f0b;
    color: white;
}

.success:hover {
    background-color: rgb(11, 182, 11, 0.9);
}

.warning {
    background-color: orange;
    color: white;
}

.warning:hover {
    background-color: rgb(255, 165, 0, 0.9);
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 40px;
}

.page-heading {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    animation: fadeIn 2s ease;
}

.common-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    background-color: rgba(48, 45, 230, 0.9);
    color: white;
}

.common-button:hover { 
    background-color: #302de6;
    box-shadow: 0 0 0 4px #3e3eeb67;
}

.common-button.active {
    color: #fff;
    background-color: #302de6;
    box-shadow: 0 0 0 6px #3e3eeb52, 0 0 0 12px #3e3eeb27;
}

.navigator {
    position: relative;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: rgba(59, 87, 211, 1);
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: var(--font-tilt-neon);
}
  
.navigator::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(59, 87, 211, 1);
    transition: width 0.3s ease;
}
  
.navigator:hover::after {
    width: 100%;
}

.selection {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 10px 15px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swipe-text {
    display: none;
}

@media screen and (max-width: 1200px) {
    main {
        width: 60%;
    }
}

@media screen and (max-width: 1050px) {
    main {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .page-heading {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .swipe-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: fit-content;
        height: 100%;
        background-color: transparent;
        pointer-events: none;
        font-size: 12px;
    }
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease forwards;
    padding: 0;
    margin: 0;
}

.height-controller {
    min-height: 45vh;
    max-height: 45vh;
}

@media screen and (max-width: 768px) {
    .selection {
        width: 95%;
    }
}

@media screen and (max-width: 570px) {
    .height-controller {
        min-height: 100%;
        max-height: 100%;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    width: fit-content;
    height: fit-content;
    min-width: 31%;
    max-width: 31%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease forwards;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 90%;
        min-width: 90%;
        max-width: 90%;
    }
    .task-container {
        width: 90%;
        min-width: 90%;
    }
}

.task-container .header,
.box .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.task-container .header h2,
.box .header h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 570px) {
    .task-container .header h2,
    .box .header h2 {
        font-size: 1.2rem;
    }
}

.task-container .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    text-align: center;
    padding: 20px 30px 20px 30px;
    margin: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: 6px;
}

.task-container .content::-webkit-scrollbar {
    display: block;
    width: 6px;
}

.task-container .content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.task-container .content::-webkit-scrollbar-track {
    background-color: transparent;
}

.task-container .content .selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    border-radius: 10px;
    margin: 0;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.task-container .content .selector:hover { 
    box-shadow: 0 0 0 4px #3e3eeb67;
}

.task-container .content .selector.active {
    box-shadow: 0 0 0 4px #3e3eeb52, 0 0 0 8px #3e3eeb27;
}

.task-container .content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.task-container .content form .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 0;
}

.task-container .content form .input-group label {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 5px 0;
}

.task-container .content form input {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
}

.task-container .content form textarea {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
    resize: none;
}

.box .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    text-align: center;
    padding: 20px 30px 20px 30px;
    margin: 0;
}

.task-container .content h3,
.box .content h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.task-container .content h3 span,
.box .content h3 span {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.task-container .content h3 i,
.box .content h3 i {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 6px;
}

.task-container .content h4,
.box .content h4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.task-container .content h5,
.box .content h5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.task-container .content h6,
.box .content h6 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: "Noto", sans-serif;
}

.task-container .content ul,
.box .content ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 90%;
    padding: 0 0 0 20px;
    margin: 10px 0 20px 20px;
}

.task-container .content ul li,
.box .content ul li {
    padding: 0;
    margin: 0;
    font-family: "Noto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-align: left;
}

.task-container .content ul li .outer-link,
.box .content ul li .outer-link {
    color: #302de6;
    padding: 5px 10px;
}

.task-container .content p,
.box .content p {
    font-size: 12px;
    font-family: "Noto", sans-serif;
}

.task-container .content span,
.box .content span {
    font-size: 13px;
    color: rgb(173, 13, 13);
    margin-top: 5px;
    font-family: "Noto", sans-serif;
}

.box .content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.box .content form .input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.task-container .content label,
.box .content label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.box .content input {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
}

.box .content textarea {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
}

.task-container .content input::placeholder,
.task-container .content textarea::placeholder,
.box .content input::placeholder,
.box .content textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.task-container .content input:focus,
.task-container .content input:active,
.task-container .content textarea:focus,
.task-container .content textarea:active,
.box .content input:focus,
.box .content input:active,
.box .content textarea:focus,
.box .content textarea:active {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 6px #3e3eeb2f, 0 0 0 12px #3e3eeb15;
}

.task-container .footer,
.box .footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.task-container .footer h6,
.box .footer h6 {
    font-size: 11px;
    font-weight: 700;
}

.task-container .footer div,
.box .footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.task-container .footer button,
.box .footer button {
    font-size: 14px;
    padding: 10px 10px 7px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
    .task-container .content form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 0;
    }
}