@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, rgba(247, 248, 253, 0.493) 0%, rgba(193, 209, 243, 0.541) 100%);
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    background-color: transparent;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

.primary {
    background-color: #302de6;
    color: white;
}

.primary:hover {
    background-color: rgba(48, 45, 230, 0.9);
}

.danger {
    background-color: #b60b0b;
    color: white;
}

.danger:hover {
    background-color: rgb(182, 11, 11, 0.9);
}

.success {
    background-color: #0b9f0b;
    color: white;
}

.success:hover {
    background-color: rgb(11, 182, 11, 0.9);
}

.warning {
    background-color: orange;
    color: white;
}

.warning:hover {
    background-color: rgb(255, 165, 0, 0.9);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 45%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header .link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 20px;
    transition: all 0.3s ease;
}

header .link.active {
    background-color: black;
    color: #d0cfcf;
}

@media screen and (max-width: 768px) {
    header {
        width: fit-content;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}

.task-create-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    width: 97%;
    height: fit-content;
    min-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease forwards;
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    width: fit-content;
    height: fit-content;
    min-width: 31%;
    max-width: 31%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease forwards;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 90%;
        min-width: 90%;
        max-width: 90%;
    }
    .task-create-box {
        width: 90%;
        min-width: 90%;
    }
}

.task-create-box .header,
.box .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.task-create-box .header h1,
.box .header h1 {
    font-size: 30px;
    font-weight: bold;
}

.task-create-box .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    text-align: center;
    padding: 20px 30px 20px 30px;
    margin: 0;
}

.task-create-box .content form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.task-create-box .content form .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.task-create-box .content form .input-group label {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 5px 0;
}

.task-create-box .content form input {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-create-box .content form textarea {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-create-box .content form button {
    width: auto;
    font-size: 18px;
    margin: 30px 0 0 0;
    padding: 8px 7px 4px 7px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
    .task-create-box .content form button {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.box .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    text-align: center;
    padding: 20px 30px 20px 30px;
    margin: 0;
}

.task-create-box .content h3,
.box .content h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.task-create-box .content h3 span,
.box .content h3 span {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.task-create-box .content h3 i,
.box .content h3 i {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 6px;
}

.task-create-box .content p,
.box .content p {
    font-size: 21px;
}

.task-create-box .content span,
.box .content span {
    font-size: 13px;
    color: rgb(173, 13, 13);
    margin-top: 5px;
}

.box .content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.box .content form .input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.task-create-box .content label,
.box .content label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.box .content input {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box .content textarea {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-create-box .content input::placeholder,
.task-create-box .content textarea::placeholder,
.box .content input::placeholder,
.box .content textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-create-box .content input:focus,
.task-create-box .content input:active,
.task-create-box .content textarea:focus,
.task-create-box .content textarea:active,
.box .content input:focus,
.box .content input:active,
.box .content textarea:focus,
.box .content textarea:active {
    outline: 1px solid black;
}

.box .content button {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    transition: all 0.2s ease;
}

.task-create-box .content button:hover,
.box .content button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.task-create-box .footer,
.box .footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.task-create-box .footer h6,
.box .footer h6 {
    font-size: 11px;
    font-weight: 700;
}

.task-create-box .footer div,
.box .footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.task-create-box .footer button,
.box .footer button {
    font-size: 14px;
    padding: 10px 10px 7px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
    .task-create-box .content form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 0;
    }
}